extends layout
block content
	div.container(style="margin-top: 20px")
		center
			div.section-wall
				h1.section-title Fichas de Embarque aguardando autorização
	script.
		$(document).ready(function() {
			$('#default-table').DataTable( {
				"language": {
					"emptyTable": "Nenhuma ficha de embarque"
				},
				"ordering": false,
			} );
		});
	div.container.default-table-wrapper
		center
			table#default-table.display.compact.cell-border
				thead
					tr
						th Data
						th Responsável
						th Cracha / Nome
						th Divisao / Identidade
						th Trecho / Grau
						th Número de dependentes / Motivo
						th Autorizar
						th Rejeitar
				tbody
					-for (var j = 0; j < cadastros.length; j++){
						td #{moment(cadastros[j].data).format("DD/MM/YYYY")}
						td #{cadastros[j].nome}
						td #{cadastros[j].cracha}
						td #{cadastros[j].divisao}
						td #{cadastros[j].trecho}
						td #{(cadastros[j].relacao.length)/4}
						td
							form(class='form-signin', action='/autorizar', method='POST')
								input(type='hidden', name='_id', value=cadastros[j]._id)
								input(type='hidden', name='tipo', value="autorizada")
								input(type='hidden', name='data', value=cadastros[j].data)
								input(type='hidden', name='trecho', value=cadastros[j].trecho)
								button(class='btn btn-primary', type='submit') Autorizar
						td
							form(class='form-signin', action='/autorizar', method='POST')
								input(type='hidden', name='_id', value=cadastros[j]._id)
								input(type='hidden', name='tipo', value="rejeitada")
								button(class='btn btn-danger', type='submit') Rejeitar
						-for (var i = 0; i < cadastros[j].relacao.length; i+=4){
							tr
								td #{moment(cadastros[j].data).format("DD/MM/YYYY")}
								td #{cadastros[j].nome}
								td #{cadastros[j].relacao[i]}
								td #{cadastros[j].relacao[i+1]}
								td #{cadastros[j].relacao[i+2]}
								td #{cadastros[j].relacao[i+3]}
								td 
								td 
						-}
						tr
							td -------
							td -------
							td -------
							td -------
							td -------
							td -------
							td -------
							td -------
					-}
		