extends layout

block content

	div.container
		div.row
			center
				div.section-wall
					h1.section-title Alterando estado de manutenção do leito: #{leito[0].cod_leito}
	div.container#table-alterar-manutencao-wrapper
		center
			form(action='/home/manutencao/quadro/alterar?leito_alterado=#{leito[0].cod_leito}', method='POST', style='margin:25px 0px 25px 0px')
				table#table-alterar-manutencao.table-striped.table-bordered
					thead
						tr
							th
								| Panes atuais
							th(style='width:12%') Remover

					tbody
						-for(var i = 0; i < leito[0].manutencao.length; i++){
							tr
								td
									| #{leito[0].manutencao[i]}
								td
									input(type="checkbox", value="1", name='idx_pane_rem_#{i}')
						-}
						-if(leito[0].manutencao.length == 0){
							tr
								td(colspan='2')
									| Não há panes relatadas
						-}else{
						tr
							td(colspan='2')
								button.btn.btn-primary(type='submit',style='text-align:center;', onsubmit='setTimeout(function(){window.location.reload();},1000)') Remover panes selecionadas
								span.clearfix
						-}

			hr
			form(action='/home/manutencao/quadro/alterar?leito_alterado=#{leito[0].cod_leito}', method='POST', style='margin:25px 0px 25px 0px')
				table#table-alterar-manutencao.table-striped.table-bordered
					thead
						tr
							th
								| Nome da pane a ser inserida
							th(style='width:12%')
								| Inserir
					tbody
						tr
							td
								input(type='text', name='desc_pane_adc', placeholder='Descrição da pane',required, style='width:80%')
							td
								button.btn.btn-primary(type='submit',style='text-align:center;', onsubmit='setTimeout(function(){window.location.reload();},1000)') Inserir
								span.clearfix
								

			hr
			form(action='/home/manutencao/quadro/alterar?leito_alterado=#{leito[0].cod_leito}', method='POST', style='margin:25px 0px 25px 0px')
				table#table-alterar-manutencao.table-striped.table-bordered
					thead
						tr
							th
								| O leito ainda está ocupável, mesmo na existência de panes?
							th(style='width:12%')
								| Alterar
					tbody
						tr
							td
								.radio-inline
									-if(leito[0].ocupabilidade == 'normal'){
										input(type='radio', name='ocup', value='normal', checked='çhecked')
									-}else{
										input(type='radio', name='ocup', value='normal')
									-}
									| Ocupabilidade normal
								.radio-inline
									-if(leito[0].ocupabilidade == 'semi_ocupavel'){
										input(type='radio', name='ocup', value='semi_ocupavel', checked='çhecked')
									-}else{
										input(type='radio', name='ocup', value='semi_ocupavel')
									-}
									| Ocupável com restrições
								.radio-inline
									-if(leito[0].ocupabilidade == 'inocupavel'){
										input(type='radio', name='ocup', value='inocupavel', checked='çhecked')
									-}else{
										input(type='radio', name='ocup', value='inocupavel')
									-}
									| Inocupável
							td
								button(class='btn btn-primary', type='submit',style='text-align:center', onsubmit='setTimeout(function(){window.location.reload();},1000)') Alterar
								span.clearfix
								
			hr
			form(action='/home/manutencao/quadro', method='GET', style='margin:25px 0px 25px 0px')
					button.btn.btn-primary(type='submit', value='submit', style='text-align:center;margin-top:30px;') Voltar