extends layout

block content
	script.
		$(document).ready(function() {
			$('#default-table').DataTable( {
				"info": false,
				"language": {
					"emptyTable": "Nenhum cadastro"
				},
			} );
		});
	div.container.default-table-wrapper
		center
			table#default-table.display.cell-border
				thead
					tr
						th Cadastro
						th Leito
						th Estado
						th Data de entrada
						th Data de saida
						th Numero de Registro
						th Ficha de Cadastro
				tbody
					each cadastro in cadastros
						tr
							td
								a(href='/home/dados/cadastro?_id=#{cadastro._id}', target='blank') #{cadastro.name}
							td #{cadastro.leito}
							td #{cadastro.estado}
							td #{moment(cadastro.dateIn).format("DD/MM/YYYY")}
							td #{moment(cadastro.dateOut).format("DD/MM/YYYY")}
							td #{cadastro.num_registro}
							td
								a(href='/home/ficha/cadastro?_id=#{cadastro._id}', target='blank') Ficha de Cadastro
	