extends layout

block content
	div.container
		div.row
			center
				div.section-wall
					h1.section-title Alterar valor de diárias
	div.container
		center
			form(action='/home/financeiro/alterar', method='POST')
				table#recepcao-table.table-striped.table-bordered
					thead
						tr
							th(style='width:37%') Posto/Graduação
							th(style='width:13%') Valor da diária
							th(style='width:37%') Posto/Graduação
							th(style='width:13%') Valor da diária
					tbody
						-for(var i = 0; i < posto.length; i+=2){
							tr
								td #{posto[i]}
								input(type='hidden', name='_posto[#{i}]', value=posto[i])
								td
									input.valor(type='text', name='_valor[#{i}]',class='form-control',placeholder=valor[i].toFixed(2), value=valor[i].toFixed(2), required)
								if (i < posto.length-1)
									td #{posto[i+1]}
									input(type='hidden', name='_posto[#{i+1}]', value=posto[i+1])
									td
										input.valor(type='text', name='_valor[#{i+1}]',class='form-control', placeholder=valor[i+1].toFixed(2), value=valor[i+1].toFixed(2), required)
						-}
						tr
							td(colspan='6', style='text-align:center')
								input(type='hidden', name='length', value=posto.length)
								button(class='btn btn-primary', type='submit',style='text-align:center;margin-bottom:10px; margin-top:10px') Alterar dados
								span.clearfix
		
