extends layout

block content
	div.container
		div.row
			center
				div.section-wall
					h1.section-title Dados de cadastro
	div.container.default-table-wrapper
		center
			table#folha-ce-table.table-striped.table-bordered
				tbody
					form(action='/home/dados/cadastro/editar', method='GET')
						tr
							td(colspan="5")
								input(type="hidden", name="_id", value="#{cadastro._id}")
								button.btn.btn-primary(type='submit') Editar dados
					tr
						td Nome
						td(colspan="4") #{cadastro.name}
					tr
						td Nome de guerra
						td(colspan="4") #{cadastro.name_guerra}
					tr
						td SARAM
						td(colspan="4") #{cadastro.saram}
					tr
						td Identidade
						td(colspan="4") #{cadastro.identidade}
					tr
						td Unidade
						td(colspan="4") #{cadastro.unidade}
					tr
						td Endereço
						td(colspan="4") #{cadastro.endereco}
					tr
						td Telefone
						td(colspan="4") #{cadastro.telefone}
					tr
						td E-mail
						td(colspan="4") #{cadastro.email}
					tr
						td CPF
						td(colspan="4") #{cadastro.cpf}
					tr
						td Data de entrada
						td(colspan="4") #{moment(cadastro.dateIn).format("DD/MM/YYYY")}
					tr
						td Data de saída
						td(colspan="4") #{moment(cadastro.dateOut).format("DD/MM/YYYY")}
					tr
						td Estado
						td(colspan="4") #{cadastro.estado}
					tr
						td Check-in
						td(colspan="4")
							if(cadastro.checkIn)
								| #{moment(cadastro.checkIn).format("DD/MM/YYYY HH:mm:ss")}
							else
								| -----------------------------
					tr
						td Check-out
						td(colspan="4")
							if(cadastro.checkOut)
								| #{moment(cadastro.checkOut).format("DD/MM/YYYY HH:mm:ss")}
							else
								| -----------------------------
					tr
						td Número de Dependetes
						td(colspan="4") #{cadastro.dependente}
					tr
						td Posto/Graduação
						td(colspan="4") #{cadastro.posto}
					tr
						td Nome do curso ou missão
						td(colspan="4") #{cadastro.curso}
					tr
						td Solicitante
						td(colspan="4") #{cadastro.solicitante}
					tr
						td Blacklist
						form(action='/home/financeiro/blacklist', method='POST')
							input(type='hidden', name='tipo', value='adicionar')
							input(type='hidden', name='cpf', value=cadastro.cpf)
							input(type='hidden', name='name', value=cadastro.name)
							input(type='hidden', name='_id', value=cadastro._id)
							td(colspan="3")
								input(type='text', name='motivo', placeholder="Motivo", class = 'form-control', required)
							td(colspan="1")
								button.btn.btn-primary(type='submit') Adicionar à Blacklist
					if (!cadastro.checkIn || !cadastro.checkOut)
						tr
							td Custo previsto da estada
							td(colspan="4") R$ #{custo.toFixed(2)}
					else
						tr
							td Custo da estada
							td(colspan="4") R$ #{cadastro.custo_estada.toFixed(2)}
					tr
						td Valor pago
						td(colspan="4") R$ #{cadastro.valor_pago.toFixed(2)}
					tr
						td Pagamento
						form(action='/home/financeiro/pagamento', method='POST')
							input(type='hidden', name='tipo', value='adicionar')
							input(type='hidden', name='cpf', value=cadastro.cpf)
							input(type='hidden', name='name', value=cadastro.name)
							input(type='hidden', name='_id', value=cadastro._id)
							td
								select(name = 'tipo_pagamento', class = 'form-control', required)
									//option(disabled value='', selected hidden) Opções
									//option(value = "gru") GRU
									//option(value = "consignado") Consignado
									//option(value = "dinheiro") Dinheiro
									- for (var i = 0; i < tipo_pagamento.length; i++) {
										option(value = "#{tipo_pagamento[i]}") #{tipo_pagamento[i]}
									- }
							td
								input(type='text', name='documento', placeholder="Número do documento", class = 'form-control')
							td
								div.input-group
									span.input-group-addon R$
									if (!cadastro.checkIn || !cadastro.checkOut)
										input.valor(type='text', name='valor', class = 'form-control', value=Number(custo - cadastro.valor_pago).toFixed(2), required)
									else
										input.valor(type='text', name='valor', class = 'form-control', value=Number(cadastro.custo_estada - cadastro.valor_pago).toFixed(2), required)
							td
								button.btn.btn-primary(type='submit') Adicionar pagamento
		