extends layout

block content
	div.container
		div.row
			center
				div.section-wall
					h1.section-title Dados de lista de lavanderia
	div.container#folha-ce-table-wrapper
		center
			table#folha-ce-table.table-striped.table-bordered
				thead
					tr
						th(style='width:20%') Item
						th(style='width:50%') Descrição
						th(style='width:15%') Quantidade de coleta
						th(style='width:15%') Quantidade de entrega
				tbody
					tr
						-for(var i = 0; i < 13; i++){
							tr
								td(style='width:20%') #{i+1}
								td(style='width:50%') #{descricoes[i]}
								td(style='width:15%') #{folha.n_coleta[i]}
								td(style='width:15%') #{folha.n_entrega[i]}

						-}	
						tr
							td(colspan='6', style='text-align:center;') 
								p(style='margin-top:20px; font-weight:bold;') Data de Coleta
								p #{folha.data_coleta}
						tr
							td(colspan='6', style='text-align:center;') 
								p(style='margin-top:20px; font-weight:bold;') Data de Entrega
								p #{folha.data_entrega}
						tr
							td(colspan='6', style='text-align:center;') 
								p(style='margin-top:20px; font-weight:bold;') Fiscal responsável
								p #{folha.nome_fiscal}