extends layout

block content
	div.container
		center
			div.section-wall
				h1.section-title Log de alterações no sistema
				form(class='form-signin', action='/home/informacao/log', method='GET')
					input#from(type='text', name='from' class='form-control', placeholder='Data inicial')
					input#dateIn(type='hidden', name='dateIn', class='form-control')
					input#to(type='text', name='to' class='form-control', placeholder='Data final')
					input#dateOut(type='hidden', name='dateOut', class='form-control')
					button(class='btn btn-lg btn-primary btn-block', type='submit') Visualizar Logs
					span.clearfix
	script.
		$( function() {
			var dateFormat = "dd/mm/yy",
			from = $( "#from" ).datepicker(
			{ showOtherMonths: true,
			selectOtherMonths: true,
			dateFormat: dateFormat,
			altField: "#dateIn",
			altFormat: "yy-mm-dd"
			}),
			to = $( "#to" ).datepicker(
			{ showOtherMonths: true,
			selectOtherMonths: true,
			dateFormat: dateFormat,
			altField: "#dateOut",
			altFormat: "yy-mm-dd"
			});
		});
	
	script.
		$(document).ready(function() {
			$('#default-table').DataTable( {
				"language": {
					"emptyTable": "Nenhum log"
				},
			} );
		});
	div.container.default-table-wrapper
		center
			table#default-table.display.compact.cell-border
				thead
					tr
						th Data
						th Modulo
						th(style="width:30%") Log
						th Cadastro
						th Leito
						th Usuário
				tbody
					-for (var j = 0; j < log.length; j++){
						-for (var i = 0; i < log[j].log.length; i++){
							tr
								td #{moment(log[j].data).format("DD/MM/YYYY")} #{log[j].horario[i]}
								td #{log[j].modulo[i]}
								td #{log[j].log[i]}
								if (log[j].modulo[i] == "Lavanderia")
									td
										a(href='/home/ficha/lavanderia?_id=#{log[j].cadastro_id[i]}', target='blank') Ficha Lavanderia
								else if (log[j].modulo[i] == "Gerência")
									td
										a(href='/home/dados/usuario?_id=#{log[j].cadastro_id[i]}', target='blank') #{log[j].cadastro[i]}
								else
									td
										a(href='/home/dados/cadastro?_id=#{log[j].cadastro_id[i]}', target='blank') #{log[j].cadastro[i]}
								td #{log[j].leito[i]}
								td #{log[j].usuario[i]}
						-}
					-}
	
	