extends layout

block content
	div.container
		center
			div.section-wall
				h1.section-title Alterar valor de diárias
	script.
		$(document).ready(function() {
			$('#default-table').DataTable( {
				"language": {
					"emptyTable": "Nenhum leito"
				},
				"bFilter": false,
				paging: false,
				info: false
			} );
		});
	div.container.default-table-wrapper
		center
			form(action='/home/financeiro/alterar', method='POST')
				table#default-table.display.compact.cell-border
					thead
						tr
							th Posto/Graduação
							th Diária Hóspede
							th Diária Residente
					tbody
						-for(var i = 0; i < posto.length; i++){
							tr
								td
									input(type='text', name='_posto[#{i}]', class='form-control', placeholder=posto[i] + " DELETAR", value=posto[i])
								td
									input.valor(type='text', name='_valor_hospede[#{i}]',class='form-control',placeholder=valor[i].hospede.toFixed(2), value=valor[i].hospede.toFixed(2), required)
								td
									input.valor(type='text', name='_valor_residente[#{i}]',class='form-control',placeholder=valor[i].residente.toFixed(2), value=valor[i].residente.toFixed(2), required)
						-}
						tr
							td
								input(type='text', name='_posto[#{posto.length}]', class='form-control', placeholder="Adicionar novo")
							td
								input.valor(type='text', name='_valor_hospede[#{posto.length}]',class='form-control',placeholder=0)
							td
								input.valor(type='text', name='_valor_residente[#{posto.length}]',class='form-control',placeholder=0)
				input(type='hidden', name='length', value=posto.length)
				br
				| Formas de pagamento disponíveis:
				br
				-for(var i = 0; i < tipo_pagamento.length; i++){
					input(type='text', name='_tipo_pagamento[#{i}]', class='form-control', placeholder=tipo_pagamento[i] + " DELETAR", value=tipo_pagamento[i], style="width:30%")
				-}
				input(type='text', name='_tipo_pagamento[#{tipo_pagamento.length}]', class='form-control', placeholder="Adicionar novo", style="width:30%")
				br
				div.input-group(style="width:30%")
					span.input-group-addon Regra de dias para residente
					input(type='number', name='_regra_diaria', class='form-control', placeholder=regra_diaria, value=regra_diaria)
				br
				div.input-group(style="width:30%")
					span.input-group-addon Cobrar por hora:
					input(type='checkbox', name='_cobrar_hora', checked=cobrar_hora, style="width: 20px; height: 20px;")
				br
				button(class='btn btn-primary', type='submit',style='text-align:center;margin-bottom:10px; margin-top:10px, width:30%') Alterar
				span.clearfix
								
		
