extends layout

block content

	-function chooseQuartoColor(lista_leitos){
	-	var todoslimpos = true;
	-	var nenhumlimpo = true;
	-	lista_leitos.forEach(function(leito, idx_leito){
	-		if(leito.limpeza != 'limpo'){
	-			todoslimpos = false;
	-		}
	-		if(leito.limpeza != 'sujo'){
	-			nenhumlimpo = false;
	-		}
	-	});
	-	if(todoslimpos){
	-		return '#b3ffb3';
	-	}
	-	if(nenhumlimpo){
	-		return '#ff1a1a';
	-	}
	-	return '#ffff00';
	-}
	-function chooseLeitoColor(leito){
	-   if(leito.limpeza == "limpo"){
	-		return '#267326';
	-	}
	-	else{
	-		return '#ff1a1a';
	-	}
	-}

	div.container
		div.row
			center
				div.section-wall
					h1.section-title Quadro de limpeza
	div.container#manutencao-table-wrapper
		center
			table#manutencao-table.table-bordered
				thead
					tr
						th Prédio
						th Quartos
						th(colspan='50') 
				tbody
					-var Bloco = new Map();
					-for(var idx = 0; idx < leitos.length; idx++){
					-   var bloco_atual = leitos[idx].bloco;
					-	var quarto_atual = leitos[idx].quarto;
					- 	var vaga_atual = leitos[idx].vaga;
					-	var quartos_bloco = Bloco.get(bloco_atual); //map de [quarto]->{lista leito} para todos quartos desse bloco
					-	if(quartos_bloco == undefined){
					-		quartos_bloco = new Map();
					-	}
					-	var vagas_quarto = quartos_bloco.get(quarto_atual);
					-	if(vagas_quarto == undefined){
					-		vagas_quarto = new Map();
					-	}
					-	vagas_quarto.set(vaga_atual, leitos[idx]); //salvando o leito
					-	quartos_bloco.set(quarto_atual, vagas_quarto);
					-	Bloco.set(bloco_atual, quartos_bloco);
					-}
					-Bloco.forEach(function(lista_quartos, nome_bloco){
						tr
							td #{nome_bloco}
							-lista_quartos.forEach(function(lista_leitos, nome_quarto){
								td(style='background-color: #{chooseQuartoColor(lista_leitos)}')
									.dropdown#manutencao-dropdown
										a.dropdown-toggle(role='button', data-target='#', href='#', data-toggle='dropdown', aria-haspopup="true", aria-expanded="false")
												| #{nome_bloco}#{nome_quarto}
										ul.dropdown-menu.multi-level(role='menu')
											-lista_leitos.forEach(function(objeto, vaga){
												li.dropdown-submenu
													-var nome_leito = nome_bloco + nome_quarto + vaga;
													-cor = '#ff1a1a';
													a(tabindex='-1' href='#' style='color:#{chooseLeitoColor(objeto)};font-weight: bold;') #{nome_leito} (#{objeto.limpeza})
													ul.dropdown-menu
														form(action='/home/manutencao/limpeza?leito_alterado=#{nome_leito}', method='POST')
															-if(objeto.limpeza == "limpo"){
																li
																	input(type='hidden', name='new_value', value="sujo")
																	button(type='submit', style='border:none;background:none') Marcar como sujo
															-} else{
																li
																	input(type='hidden', name='new_value', value="limpo")
																	button(type='submit', style='border:none;background:none') Marcar como limpo
															-}
											-});
							-});
					-});
					//- each predio in ['A', 'B', 'C', 'D']
					//- 	tr
					//- 		td #{predio}
					//- 		-for(var idx = 0; idx < leitos.length; idx++){
					//- 			if(leitos[idx].cod_leito.charAt(0) == predio)
					//- 				if(idx == (leitos.length-1) || leitos[idx+1].cod_leito.slice(-1) == "a")
					//- 					//isso significa q estamos iterando pelo ultimo leito do quarto
					//- 					-var nleitos = leitos[idx].cod_leito.slice(-1).charCodeAt(0)-"a".charCodeAt(0)+1;
					//- 					-var letras= ['a','b','c','d','e'];
					//- 					td(style='background-color: #{chooseQuartoColor(idx, nleitos)}')
					//- 						.dropdown#manutencao-dropdown
					//- 							a.dropdown-toggle(role='button', data-target='#', href='#', data-toggle='dropdown', aria-haspopup="true", aria-expanded="false")
					//- 								| #{leitos[idx].cod_leito.slice(0,-1)}
					//- 							ul.dropdown-menu.multi-level(role='menu')
					//- 								-for(var leito_num = 0; leito_num < nleitos; leito_num++){
					//- 									//aqui, idx marca o indice do ultimo leito do quarto en questao
					//- 									//nas linhas abaixo, estamos iterando pelos outros leitos do mesmo quarto,
					//- 									//com indices diferences de idx
					//- 									-var leito_idx = idx - nleitos + leito_num +1;
					//- 									li.dropdown-submenu
					//- 										-var nome_leito = leitos[idx].cod_leito.slice(0,-1)+letras[leito_num]
					//- 										a(tabindex='-1' href='#' style='color:#{chooseLeitoColor(leito_idx)};font-weight: bold;') #{nome_leito} (#{leitos[leito_idx].limpeza})
					//- 										ul.dropdown-menu
					//- 											form(action='/home/manutencao/limpeza?leito_alterado=#{nome_leito}', method='POST')
					//- 												-if(leitos[leito_idx].limpeza == "limpo"){
					//- 													li
					//- 														input(type='hidden', name='new_value', value="sujo")
					//- 														button(type='submit', style='border:none;background:none') Marcar como sujo
					//- 												-} else{
					//- 													li
					//- 														input(type='hidden', name='new_value', value="limpo")
					//- 														button(type='submit', style='border:none;background:none') Marcar como limpo
					//- 												-}
	
					//- 								-}
									
					//- 		-}