extends layout

block content

	-function chooseQuartoColor(lista_leitos){
	-	var todosocupaveis = true;
	-	var nenhumocupavel = true;
	-	lista_leitos.forEach(function(leito, idx_leito){
	-		if(leito.ocupabilidade != 'inocupavel'){
	-			nenhumocupavel = false;
	-		}
	-		if(leito.ocupabilidade == 'inocupavel'){
	-			todosocupaveis = false;
	-		}
	-	});
	-	if(todosocupaveis){
	-		return '#b3ffb3';
	-	}
	-	if(nenhumocupavel){
	-		return '#ff1a1a';
	-	}
	-	return '#ffff00';
	-}
	-function chooseLeitoColor(leito){
	-   if(leito.ocupabilidade == "normal"){
	-		return '#267326';
	-	}
	-	else if(leito.ocupabilidade == "semi_ocupavel"){
	-		return '#ff9900';
	-	}
	-	else{
	-		return '#ff1a1a';
	-	}
	-}
	div.container
		div.row
			center
				div.section-wall
					h1.section-title Quadro de manutenções

	div.container#manutencao-table-wrapper
		center
			table#manutencao-table.table-bordered
				thead
					tr
						th Prédio
						th Quartos
						th(colspan='50') 
				tbody
					-var Bloco = new Map();
					-for(var idx = 0; idx < leitos.length; idx++){
					-   var bloco_atual = leitos[idx].bloco;
					-	var quarto_atual = leitos[idx].quarto;
					- 	var vaga_atual = leitos[idx].vaga;
					-	var quartos_bloco = Bloco.get(bloco_atual); //map de [quarto]->{lista leito} para todos quartos desse bloco
					-	if(quartos_bloco == undefined){
					-		quartos_bloco = new Map();
					-	}
					-	var vagas_quarto = quartos_bloco.get(quarto_atual);
					-	if(vagas_quarto == undefined){
					-		vagas_quarto = new Map();
					-	}
					-	vagas_quarto.set(vaga_atual, leitos[idx]); //salvando o leito
					-	quartos_bloco.set(quarto_atual, vagas_quarto);
					-	Bloco.set(bloco_atual, quartos_bloco);
					-}
					-Bloco.forEach(function(lista_quartos, nome_bloco){
						tr
							td #{nome_bloco}
							-lista_quartos.forEach(function(lista_leitos, nome_quarto){
								td(style='background-color: #{chooseQuartoColor(lista_leitos)}')
									.dropdown#manutencao-dropdown
										a.dropdown-toggle(role='button', data-target='#', href='#', data-toggle='dropdown', aria-haspopup="true", aria-expanded="false")
											| #{nome_bloco}#{nome_quarto}
										ul.dropdown-menu.multi-level(role='menu')
											-lista_leitos.forEach(function(objeto, vaga){
												li.dropdown-submenu
													-var nome_leito = nome_bloco + nome_quarto + vaga;
													a(tabindex='-1' href='#' style='color:#{chooseLeitoColor(objeto)};font-weight:bold;') #{nome_bloco}#{nome_quarto}#{vaga}
													ul.dropdown-menu
														-for(var pane_idx = 0; pane_idx < objeto.manutencao.length; pane_idx++){
															li
																a(href='#') #{objeto.manutencao[pane_idx]}
														-}
														-if(objeto.manutencao.length == 0){
															li
																a(href='#') Sem panes
														-}
														li.divider
														li
															a(href='/home/manutencao/quadro/alterar?leito_alterado=#{nome_leito}') Adicionar/Remover panes
											-});
							-});
					-});



