extends layout

block content
	div.container
		div.row
			center
				div.section-wall
					h1.section-title Dados para efetuar cobrança
	div.container#register-table-wrapper
		center
			table#register-table
				thead
					tr
						th //
						th //
				tbody
					tr
						td Nome
						td
							a(href='/home/dados/cadastro?_id=#{cadastro._id}', target='blank') #{cadastro.name}
					tr
						td Data de entrada
						td #{moment(cadastro.dateIn).format("DD/MM/YYYY")}
					tr
						td Data de saida
						td #{moment(cadastro.dateOut).format("DD/MM/YYYY")}
					tr
						td Data de entrada efetiva
						td #{checkIn}
					tr
						td Data de saida efetiva
						td #{checkOut}
					tr
						td Custo da estadia
						td R$ #{custo.toFixed(2)}
		